html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #F9F7F6;
    font-family: Arial, Helvetica, sans-serif;
}
/* === Buttons === */
/* 1.submitBtn, 2.deleteBtn*/
#sendBtn{
  width: 100%;
  Color: #fff;
  background-color: #2196F3;
  border: solid 2px #0B1457;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  margin-bottom: 2px;
}
#deleteBtn {
  width: 100%;
  color: #fff;
  background-color: #BA2D0D;
  border: solid 2px #0B1457;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px;
  text-align: center;

}
#sendBtn:hover{
  color: #0B1457;
  background-color: #ddd;
  text-decoration: none;
}
#deleteBtn:hover{
  color: #BA2D0D;
  background-color: #ddd;
  text-decoration: none;
}

/* ========================== */

  .topnav {
    background-color: #0B1457;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .Menu{
    display: flex; 
    flex-direction: row;
  }
  
  .topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  .topNav form {
    height: 100%;
    width: 20px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .dropbtn {
    background-color: #3e8e41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display:  block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e8e41;    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    color: #fff;
  }
  
  .dropdown:hover .dropbtn {background-color: #2196F3;}

  .LogOutBtn{
    height: auto;
    border: none;
    outline: none;
    padding: 16px 16px;
    color: white;
    background-color: #D1431B;
  }
  .LogOutBtn:hover{
    background-color: #0B1457;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }

  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container #searchBTN {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container #searchBTN:hover {
    background: #ccc;
  }
  
/* === Body Section === */
.bodySection{
  width: 99%;
  min-height: 65%;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
.bodySection div{
  width: 95%;
}
.searchBodySection{
  width: 99%;
  min-height: 65%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
/* === Lastest Posts  === */
.LastestPosts{
  max-width: 20%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  border-style: solid;
  border-color: #0B1457;
  border-width: 2px;
  border-radius: 4px;
  height: 100%;
  max-height: 900px;
  margin-top: 30px;
}
.LastestPosts h3{
  text-align: center;
  border-width: 2px;
  border-bottom-style: solid;
  border-color: #ED1457 ;
  color:#fff;
  background-color: #0B1457;
}

.lastPost{
  margin: auto;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: grey;
  width: 90%;
  max-height: 150px;
  padding: 0px;
}
.lastPostLink{
  color: black;
  text-decoration: none;
  padding: 0px;
  margin:1px;
}
.lastPostLink:hover{
  text-decoration: none;
  padding: 0px;
  color: #0B1457;
}
.postContent{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  max-height: 100px;
  padding: 0px;
  margin:0px;
}
.infoDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.infoDiv h4, .infoDiv h5{
  margin: 0px;
}
.dateDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin:0px;
}
.dateDiv h6{
  width: 39%;
  margin:0px;
}
.dateDiv p{
  width: 60%;
  margin:0px;
  text-align: right;
}


/* === category Page === */
#categoriesPage{
  display: block;
  margin:auto;
  margin-top: 50px;
}
#categoriesPage h1{
  text-align: center;
}
#categoriesPage  p{
  text-align: center;
}
#categoriesSettings{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.categorySetting{
  width: 95%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.categorySetting div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.categorySetting div form{
  width: 40%;
}
#categoriesList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
}
#categoriesList li{
  color: black;
  width: 100%;
  max-width: 500px;
  list-style-type: none;
  border: solid 2px #0B1457;
  height: auto;
  margin: 5px;
}
#categoriesList li a{
  float:right;
  width: 20%;
  margin: 2px;
}

/* === Orders PAGE === */
.ordersPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin:auto;
  margin-top:50px;
}
.orders{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
#orderInfo{
  border: solid 2px #0B1457;
  border-radius: 4px;
  margin: 10px;
  padding: 2px;
  width: 500px;
  height: auto;
  max-height:350px;  
}

/* === Posts -- index page === */
.posts{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #F9F9F6;
}

.post{
  max-width: 250px;
  height: 100%;
  max-height: 380px;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-radius: 4px; 
  border-width: 2px;
  border-color: #0B1457;
  background-color: #fff;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.post:hover{
  background-color: #fff;
  box-shadow: 0 0 10px #0B1457;
  text-decoration: none;
  color: black;
}
#postImage{
  height:auto;
  max-height: 50%;
  width: 100%;
  padding: 0;
  border-bottom-style:solid;
  border-right-style: solid;
  border-color: #0B1457;
  border-radius: 4px;
  border-width: 2px;
}
#postInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  text-decoration: none;
  height: 50%;
  width:100%;
  border-top-style: dashed;
  border-top-color: #2196F3;
}
#postInfo h3, #postInfo p{
  padding: 0;
  color:black;
}
.postLink{
  height: 440px;
  color: black;
}
.postLink:hover{
    color: black;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.postParagraph{
  max-width: 230px;
  height: 70px;
  width:95%;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  margin: auto;
  padding: 0;
  color: black;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

.pagination a {
  color: #fff;
  background-color: #0B1457;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 5px;
}
.pagination a:hover {
  color: #0B1457;
  background-color: #2196F3;
}
#prevPage{
  float: left;
}
#nextPage{
  float: right;
}

/* === Buy Page === */
.postOnBuyPage{
  border: solid 2px #0B1457;
  border-radius: 4px;
  height:auto;
  max-width:100%;
}
.postOnBuyPage img{
  border-bottom: solid 2px #2196F3;
}

/* ==== Footer ==== */
.footer{
  height: 200px;
  max-height: 300px;
  background-color: #0B1457;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin-top: 20px;
}
#toTopDiv{
  display: none
}
.FootSec{
  width:300px;
}
.FootDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:20%;
  float: right;
  padding: 0px;
  margin: 0px;
}
.FootDiv p{
  padding: 0px;
}
#LoginBtn{
  padding: 0px;
  margin-right: 5px;
  text-align: center;
  color: black;
}
#LoginBtn:hover{
  background-color: #ddd;
  color: black; 
}
.FootSec,  ul, li {
  color: white;
  flex-wrap: wrap;

}
.FootSec span{
  color: #D1431B;
}
.FootSec a{
  color: white;
  text-decoration: none;
}
.FootSec a:hover{
  text-decoration: none;
}
#AboutSummary{
  color: white;
  width: 80%;
}
#CopyR{
  color: black;
  text-align: end;
}


/* === Contact Page === */

#contactForm{
  max-width: 500px;
  min-height: 100%;
  margin: auto;
  margin-top:50px;
}
#contactForm p{ 
  font-size: 18px;
}
#contactForm p span{ 
  font-size: 20px;
  font-weight: bold;
}
#ContactTitle span{
  color: #ED1457;
  font-weight: bold;

}
 /* === Thx Message Page === */
.thxMsgDiv{
  text-align: center;
  margin-top: 50px;
}
/* === About Page === */

.AboutSection{
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 50px;

}
.AboutSection h2{
  background-color: #0B1457;
  color: white;
  text-align: center;
  border-radius: 4px; 
  padding-top:5px;
  padding-bottom: 5px;  
}
.AboutSection span{  
  color: #ED1457;
}

/* === Login Page === */
.errorMSG{
  border-style: solid; 
  border-width: 2px;
  border-color: #0B1457;
  color: white;
  border-radius: 4px; 
  background-color:#BA2D0D;
  padding: 2px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

/* === Post Page === */

.postSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  align-items: center;
  max-width: 1300px;
  width: 90%;
  margin-top: 50px;
  padding-top: 0px;
  background-color:#fff;
  border-radius: 4px;
}
#postIMG{
  width: 29%;
  max-width: 400px;
  height: auto;
  margin: auto;
  border-radius: 4px; 
}
#postDiv{
  display: flex;
  flex-direction: column;
  margin:auto;
  width: 69%;
  padding-left:10px; 
}

.sellerContact{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  flex-wrap: wrap;
}
.sellerContact ul li {
  color: black
}


/* === Upload-Edit-Buy Pages === */
.FormPages, #edit-form-group{
  max-width: 500px;
  min-height: 100%;
  margin: auto;
} 

.FormPagesHeader{
   display: flex; 
   flex-direction: row;
   justify-content: center;
   text-align: center;
}
.formSection{
  display: flex;
  flex-direction: row;
}
.formSection label{
  width: 20%;
  float: left;
}
.formSection input, .formSection textarea{
  width: 80%;
}
#arrowDown{
  width:30px;
  font-size:25px ;
  height: 30px;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media screen and (max-width: 800px){
  /* === Tab Post Page === */
  .postSection{
    display: flex;
    flex-direction: column;
  }
  #postDiv{
    width: 100%;
    max-width: 500px;
  }
  #postIMG{
    border-radius: 4px;
  }
  .sellerContact{
    display: flex;
    flex-direction: column;
  }
  .searchField{
    width: 200px
  }
}


@media screen and (max-width: 650px) {
    /* === Mobile Nav Section === */
    .topnav .search-container {
      float: none;
    }
    .topnav{
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .Menu, .search-container form{
      display: flex;
      flex-direction:  column;
      justify-content: flex-start;
    }
    .Menu form button{
      width: 100%;
    }
    .dropdown .dropdown-content{
      position: relative;
      width:100%;
    }
    .dropdown>button{
      width:100%;
    }
    
    #searchBTN{
      width:100%;
    }

    /* === Mobile Posts Section === */
    .posts{
      max-width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .posts>a{
      margin-bottom: 20px;
    }
    
    .post{
        width: 100%;
        min-width: 250px;
        max-width: 500px;
        height: 550px;
        padding: 5px;   
    }
    .LastestPosts{
      display: none;
    }
    #postInfo{
      width: 100%;
      max-width: 350px;
      height: 50%;

    }
    #postImage{
      max-height: 550px;
      height: 50%;
      max-width: 350px;
    }
    /* === Mobile Post Page === */
    .postSection{
      width: 95%;
      margin: auto;
    }
    #postIMG{
      width:100%;
      height: auto;
      border-style: none;
    }
    #postDiv{
      width: 90%;
      max-width:500px;
    }
    /* === Mobile Categories Page === */
    #categoriesSettings{
      display: flex; 
      flex-direction: column;
      justify-content: center;
    }
    .categorySetting{
      width: 95%;
    }
    .categorySetting div{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .categorySetting div form{
      width: 100%;
    }
    /* === Mobile About Page === */
    .AboutSection{
      margin: 2px;
    }
      /* === Mobile About Page === */
      .AboutSection{
        margin: 2px;
      }


    /* === Mobile Footer Section === */
    .footer{
      height: 100%;
      max-height: 550px;
      max-width: 100%;
      background-color: #0B1457;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;
    }
    .FootSec{
      margin-top: 20px;
      max-width:90%;
    }
    #toTopDiv{
      display:block;
    }
    #toTop{
      text-decoration: none;
      color: #ED1457;
    }
    /* === Contact Mobile Page === */
    #contactForm{
      width:90%;
    }
  }
