<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="spectre.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Post Page</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="about">About</a> 
            <a href="contact">Contact</a>
            <a  id = "LoginBtn" href="login">Login</a>
            <a  id = "SettingsBtn" href="setting">Settings</a>
            <div class="search-container">
              <form action="/action_page.Nodejs">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
        </div>
    </header>
    <br>
 
{{{body}}}

<footer> 
    <div class ="footer">
        <div class = "FootSec"> 
            <h4>Contact <span> US </span></h4>
            <ul> 
                <a href = "contact.html"><li>Email: service@pickngo.com</li></a>
                <li>Phone Number: 07 xxxxxxxxx </li>
            </ul>
        </div>
        <div class = "FootSec"> 
            <a href = "about.html">
                <h4>About <span> pickNgo </span></h4>
                <p id = "AboutSummary">In This Page, You can buy used stuff from Me in a very good condition</p>
            </a>
        </div>
    </div>
    <p id = "CopyR"> &copy;2020,maab19rl</p>
    </footer>
</body>
</html>