body{
    max-width: 1000px;
    margin: auto;
}
/* ==== header Section ==== */

header{
    max-width: 1000px;
    max-height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
}
label{
    display: none;
    font-size: 30px;
    width: 26px;
    float: left;
}
#hamMeny{
    display: none;
}

#mobileMeny{
    display: none; 
    width: 30px;
    height: 30px;  
}
#mobileMeny div{
    
    width: 29px;
    height: 20%;
    margin-top:10%;
    background-color: black;
}

#MenyList li{
    display: inline-flex;
    flex-direction:  row;
    font-size: larger;
    border-style: solid;
    border-radius: 4px;;
    border-width: 2px;
    border-color: #5755d9;
    color: white;
}
#loginBtn{
    margin-right:5px;
}

/* ==== Links Sections ==== */
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration:none ; 
}
.menyLink:link, .menyLink:visited{
    background-color: #5755d9;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
}
.menyLink:hover{
    background-color:white;
    color: #7171e2;
}
/* ==== Posts Section On Home page ==== */
.posts{
    margin-top: 50px;
    margin: auto;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.post{
    max-width: 250px;
    height: 300px;
    margin-top: 20px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #5755d9;
    background-color: #f0efed;
}
.post:hover{
    background-color: #fff;
    box-shadow: 0 0 10px grey;
}
.postLink:hover{
    color: black;
    text-align: center;
    display: inline-block;
}
#postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none;
}

/* ==== Buttons Section ==== */


/* ==== Footer ==== */
.footer{
    height: 200px;
    max-height: 300px;
    max-width: 1000px;
    background-color: #15541C;
    border-radius: 5px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.FootSec{
    width:300px;
}
.FootSec, h4,  ul, li {
    color: white;
    flex-wrap: wrap;

}
#AboutSummary{
    color: white;
    width: 80%;
}
#CopyR{
    color: black;
    text-align: end;
}

/* ==== Contact Page ==== */
.bodySize{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactForm{
    width: 500px;
    align-items: center;
    text-align: center;
}
#ContactTitle{
    border-radius: 2px;
    border-width: 5px;
    border-bottom: solid;
    text-align: center;
}

#sendBtn{
    width: 100%;
}
#sendBtn:hover{
    color:white;
    font-size: 20px;
    background-color: #5755d9;
}

/* ==== Post page ==== */

.postSection{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.postIMG{
    max-width: 100%;
    border-radius: 5px;
}
.postInfo{
    width: 100%;
    max-width: 1000px;
    margin-left: 1%;
    text-align:  center;
}
.postTitle{
    border-radius: 2px;
    border-width: 5px;
    border-bottom: solid;
    text-align: center;
}
.sellerSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.sellerSection h3{
    border-radius: 2px;
    border-width: 5px;
    border-bottom: solid;
    text-align: center;
}

/* ===== Test mobile Screen ===== */
@media screen and (max-width: 500px){


    label{
        display: block;
        cursor: pointer;
    }
    #MenyList{
        text-align: center;
        width: 100%;
        display: none;
    }
    #MenyList a{
        display: block;
    }
    #MenyList li{
        font-size: medium;

    }
    #hamMeny:checked + #MenyList{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* === Mobile Body === */
    .bodySize{
        width: 95%;
        background-color: lightblue;
    }

    /* === Mobile Footer === */
    .footer{
        min-height: 300px;
        background-color: #15541C;
        border-radius: 5px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}