<div class = "FormPages">
    <div id = "FormPagesBody"> 
        {{#if errMSG}}
        <ul> 
            {{#each errMSG}}
            <li class="errorMSG"> {{this}} </li>
            {{/each}}
        </ul>            
        {{/if}}
        <h2> Order Page</h2>
        {{#if selectedPost}}
        <div class="form-group">
            <form action="/order/post={{selectedPost.Id}}" method="POST">
                <label class="form-label" for="name">Name</label>
                <input class="form-input" type="text" name="name" placeholder="Ex: John Cena " required>
                <br>
                 <label class="form-label" for="email">Email</label>
                <input class="form-input" type="text" name="email" placeholder="Ex:example@example.com " required>
                <br>
                <label class="form-label" for="address">Address</label>
                <input class="form-input" type="text" name="address" placeholder="Östra Standgatan 50A">
                <br>
                <label class="form-label" for="zipCode">ZIP Code</label>
                <input class="form-input" type="number" name="zipCode" placeholder="Ex: 123456" required>
                <br><hr>
                <input type="hidden" name="token" value="{{token}}">
                <button class = "btn" id ="sendBtn"> Buy </button>
            </form>                
        </div>
        {{/if}}
    </div>
</div>
