<div id="categoriesPage"> 
    <h1> Categories Settings</h1>
    <h2> My Categories</h2>
    <ul id="categoriesList"> 
    {{#if data}}
        {{#each data}}
        <li> {{this.Name}} </li>
        {{/each}}
    {{/if}}
        {{!-- <li> Cars </li> --}}
    {{#unless data}}
        <li> No Categories Yet </li>
    {{/unless}}
    </ul>
    <br> 
    <div id="categoriesSettings">
        <div class="categorySetting"> 
            <h2> Add Category </h2>
            {{#if errMSG}}
            <ul>
                {{#each errMSG}}
                <p class="errorMSG"> {{this}} </p>
                {{/each}}
            </ul>
            {{/if}}
            <div class="form-group">
                <form action="/add-category" method="POST">
                    <div class = "formSection">
                        <label class="form-label" for="name">Category name</label>
                        <input class="form-input" type="text" name="name" placeholder="Ex: Car " required>
                    </div><br>
                    <button class = "btn btn-success" id ="sendBtn"> Add </button>
                </form>                
            </div>
        </div>
        <div class="categorySetting"> 
            <h2> Delete Category </h2>
             {{#if errMSG}}
            <ul>
                {{#each errMSG}}
                <p class="errorMSG"> {{this}} </p>
                {{/each}}
            </ul>
            {{/if}}
            <div class="form-group">
                <form action="/delete-category" method="POST">
                    <div class = "formSection">
                        <label class="form-label" for="name">Category name</label>
                        <input class="form-input" type="text" name="name" placeholder="Ex: Car " required>
                    </div><br>
                    <button class = "btn btn-error" id ="sendBtn"> Delete </button>
                </form>                
            </div>
        </div>
    </div>
</div>