<section id = "contactForm">
        <h2 id = "ContactTitle">Contact <span>US</span></h2>
        <div class="form-group">
            <label class="form-label" for="FullName">Full Name *</label>
            <input class="form-input" type="text" placeholder="Ex: John Cena">
            
            <label class="form-label" for="Email"> Email *</label>
            <input class="form-input" type="text" placeholder="Ex: example@example.com">
            
            <label class="form-label" for="MobilNumber"> Mobil Number *</label>
            <input class="form-input" type="text" placeholder="Ex: 07 0000 0000 ">

            <label class="form-label" for="MSG_Content"> Message Content *</label>
            <textarea  class="form-input" type="text" placeholder="Ex: How Are you?"></textarea>
            <br>
            <button class = "btn" id = "sendBtn"> Send </button>
        </div>
    </section>