<div class="form-group FormPages">
    {{#if errMSG}}
    <ul> 
        {{#each errMSG}}
        <li class="errorMSG"> {{this}} </li>
        {{/each}}
    </ul>            
    {{/if}}
    <h2> Add Category Page </h2>
    {{#if selectedCategory}}
    <form action="/editC/categoryId={{selectedCategory.Id}}" method="POST">
        <label class="form-label" for="name">Category Name</label>
        <input class="form-input" type="text" name="name" value="{{selectedCategory.Name}}" required>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br>
        <br><hr>
        <button class = "btn" id ="sendBtn"> Edit </button>
    </form> 
    {{/if}}         
</div>