
<section class = "bodySection">
    <div class = "posts">
        <a href="post" class = "postLink">
        <section class = "post"> 
            <img src="shoes.jpg" class= "img-responsive" alt = "Post Image"> </img>
            <div id = "postInfo">
                <h3>Post Title</h3>
                <p>Price: 800$</p>
                <p id = "postParagraph">Test Lorum ipsum tetetetetetetetetetet</p>
            </div>
            <button id = "editBtn"> Edit </button> <!-- If inlogged -->
        </section>
        </a>   
    </div>
    <div class = "LastestPosts">
        <h3>Lastest Posts</h3>
        <div class = "lastPost">
            <a> 
                <div class="test">
                    <h4>Post tilte </h4>
                    <p> 2020-08-19   </p>
                </div>
                <p> Price: 800$</p>
            </a>
        </div>  
        
    </div>
</section>