<div class = "postSection">
        <img src="shoes.jpg" alt="img" class = "img-responsive">
        <div id = "postDiv">
            <div class = "postInfo">
                {{#each data}}
                <h2 class = "postTitle"> {{this.Title}} </h2>
                <p> {{this.Description}}</p>
                <h4>{{this.Prise}}</h4>
                {{/each}}
            </div>
            <div class="sellerSection"> 
                <h3>Seller Contact Information</h3>
                <div class= "sellerContact">
                    <p>By: Abdel Rahman Mallah  </p>
                    <p>Email: abdowabdo1998@gmail.com </p>
                    <p>Phone Number: 07 29757160     </p>
                </div>
            </div>
        </div> 
    </div>