<div class = "postSection">
        {{#if content}}
        <img src="../{{content.Image}}" alt="img" class = "img-responsive">
        <div id = "postDiv">
            <div class = "postInfo">
                <h2><strong>Title: </strong> {{content.Title}} </h2>
                <p><strong>Description: </strong> {{content.Description}}</p>
                <p><strong>Price: </strong>{{content.Prise}} Kr</p>
            </div>
        {{/if}}
        {{#if isLoggedIn}}
            <form action="/edit" method="POST">
                <button id = "editBtn"> Edit </button>
            </form>
        {{/if}}
        <div class="sellerSection"> 
            <h3>Seller Contact Information</h3>
            <div class= "sellerContact">
                <p>By: Abdel Rahman Mallah  </p>
                <p>Email: abdowabdo1998@gmail.com </p>
                <p>Phone Number: 07 29757160 </p>
            </div>
        </div>
    </div> 
</div>